#sankey {
  height: 440px;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 0 15px 20px 15px;
  border: 2px solid #d3d3d3;
  border-radius: 12px;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 25px;
  font-family: sans-serif;
}
header {
  font-size: 120%;
  background: rgba(76, 166, 169, 0.7);
  text-align: center;
  padding: 10px 0;
  color: white;
  margin-bottom: 20px;
}
img {
  width: 150px;
  height: 50px;
  position: absolute;
  left: 10px;
  top: 2px;
}
#simple-dialog-title {
  text-align: "center";
}
footer {
  position: absolute;
  bottom: 0;
  padding: 10px 0;
  font-size: 90%;
  width: 100%;
  background: #d3d3d3;
  color: white;
  background: rgba(76, 166, 169, 0.7);
  text-align: center;
}
